VITE_RAYFIN_API_URL=
VITE_RAYFIN_PUBLISHABLE_KEY=
VITE_FABRIC_WORKSPACE_ID=
VITE_FABRIC_ITEM_ID=
VITE_SEMANTIC_MODEL_ID=
VITE_ANALYTICS_TIMESTAMP_OFFSET=+00:00
VITE_DEVELOPMENT_GRAPH_ID=
VITE_SUPPLY_GRAPH_ID=
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_CLIENT_ID=
VITE_FOUNDRY_PROJECT_ENDPOINT=
VITE_FOUNDRY_AGENT_NAME=
VITE_FOUNDRY_AGENT_VERSION=
VITE_FOUNDRY_AUTO_APPROVE_MCP=false
VITE_RTI_QUERY_URI=
VITE_RTI_DATABASE=