PORT=5180
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_AUTH_MODE=entra_id
AZURE_OPENAI_API_KEY=
BARISTA_AGENT_ENDPOINT=
BARISTA_AGENT_DEPLOYMENT=
BARISTA_AGENT_PYTHON=
PGHOST=
PGPORT=5432
PGDATABASE=
PGUSER=
PG_AUTH_MODE=azure_cli
PG_TENANT_ID=
PG_MANAGED_IDENTITY_CLIENT_ID=
PG_SSL_CA_FILE=
VOICE_LIVE_JEV_ENABLED=false
AZURE_GPT_LIVE_ENDPOINT=
AZURE_GPT_LIVE_DEPLOYMENT_NAME=
AZURE_GPT_LIVE_AUTH_MODE=entra_id
AZURE_GPT_LIVE_API_KEY=
TYPESAFE_API_KEY=
TYPESAFE_MODEL=jev-1.13.0